@font-face {
    font-family: 'Audi Type';
    src: local('Audi Type Extended Normal'), local('Audi-Type-Extended-Normal'),
        url('AudiType-ExtendedNormal.woff2') format('woff2'),
        url('AudiType-ExtendedNormal.woff') format('woff'),
        url('AudiType-ExtendedNormal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }